DB_HOST 		= "localhost"
DB_NAME 		= "project"
DB_USER 		= "root"
DB_PASSWORD 	= ""


BASE_DIR 		= "C:/wamp64/www/fatma/"
CACHE_DIR 		= "C:/wamp64/www/fatma/web_crawler/cache/"
PUBLIC_DIR 		= "C:/wamp64/www/fatma/public/"